.nav-links-links {
  gap: var(--dl-space-space-twounits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.nav-links-link {
  text-decoration: none;
}
.nav-links-navlink {
  text-decoration: none;
}
.nav-links-navlink1 {
  text-decoration: none;
}
.nav-links-root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  align-self: center;
}

.nav-links-root-class-name2 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  align-self: center;
}


.nav-links-root-class-name5 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  align-self: center;
}

.nav-links-root-class-name7 {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  align-self: center;
}

@media(max-width: 767px) {
  .nav-links-links {
    display: none;
  }
  .nav-links-root-class-name3 {
    display: flex;
    align-self: center;
  }
  .nav-links-root-class-name4 {
    fill: var(--dl-color-gray-black);
    flex: 1;
    color: var(--dl-color-gray-black);
    display: flex;
  }
  .nav-links-root-class-name6 {
    fill: var(--dl-color-gray-black);
    flex: 1;
    color: var(--dl-color-gray-black);
    display: flex;
  }
  .nav-links-root-class-name8 {
    fill: var(--dl-color-gray-black);
    flex: 1;
    color: var(--dl-color-gray-black);
    display: flex;
  }
}
